<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1600587193650-6a6615b3e95c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80);">
  <h1>HAPPY TOURS</h1>
  <p>Making unforgettable adventures!</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@tour) do |r| %>
        <%= r.error_notification %>
        <%= r.error_notification message: r.object.errors[:base].to_sentence if r.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= r.input :title %>
          <%= r.input :description %>
          <%= r.input :category, collection: Tour::CATEGORIES %>
          <%= r.input :price %>
          <%= r.input :start_date, as: :date %>
          <%= r.input :address %>
          <%= r.input :end_date, as: :date %>
          <%= r.input :photos, as: :file, input_html: { multiple: true } %>
        </div>

        <div class="form-actions">
          <%= r.button :submit, class: "btn btn-success" %>
          <%= link_to 'Back', root_path, class: "btn btn-secondary my-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
