<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2371&q=80);">
  <h1>HAPPY TOURS</h1>
  <p>Making unforgettable adventures!</p>
</div>

<p id="notice"><%= notice %></p>
<div class="d-flex">
  <div class="container">
      <h1>Discover Exicitng Tours</h1>
      <div class="notice-header p-2 rounded">
        <i class="fas fa-info-circle"></i>
        <%# <p>Your wellbeing comes first</p> %>
        <p>Favoring small-group tours, our adventure vacation packages are the perfect size for meeting new people while allowing for an intimate exploration of some of the world’s most exciting destinations</p>
      </div>

    <div class="cards">
      <% @tours.each do |tour| %>
        <div class="card-trip position-relative">
          <img src="https://images.unsplash.com/photo-1549944850-84e00be4203b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2268&q=80" />
          <div class="card-trip-infos">

            <div>
              <h2><%= tour.title %></h2>
              <h3><%= tour.category %></h3>
              <p><%= tour.description %></p>
            </div>

            <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80" class="card-trip-user avatar-bordered" />

            <div>

              <div class="d-flex justify-content-center p-3">
                <h2 class="card-trip-pricing mx-3">AED <%= tour.price %></h2>
                <%= link_to 'Details', tour, class: 'btn btn-primary' %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map"
      style="width: 60%; height: 100vh; position: sticky; top: 0;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

      <%# if policy(Tour).new? %>
        <%#= link_to 'New Tour', new_tour_path, class: 'btn btn-primary' %>
      <%# end %>
