<div class="container">

  <div class="card mb-3">

    <h1 class="card-title"><%= @tour.title %></h1>

    <img src="https://images.unsplash.com/photo-1497601573976-fb2f03ea161d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" class="card-img-top" alt="Card photo">

    <div class="card-body">
      <h2>About</h2>
      <h5 class="card-text">
      <%= @tour.description %>
      </h5>

      <div class="d-flex">
        <h5 class="d-flex p-2 w-100 bd-highlight">Category:
        <%= @tour.category %>
        </h5>
        <h5 class="d-flex p-2 flex-shrink-1 bd-highlight">Price: AED <%= @tour.price %> </h5>
      </div>

      <div class="d-flex justify-content-between">
        <p class="card-date"><small class="text-muted">Start date:
        <%= @tour.start_date %>
        </small>
        </p>
        <p class="card-date"><small class="text-muted">End date:
        <%= @tour.end_date %>
        </small>
        </p>
      </div>

      <div class="d-flex justify-content-center">
      <% if user_signed_in? %>
        <% if policy(@tour).edit? %>
          <%= link_to 'Edit', edit_tour_path(@tour), class: 'btn btn-warning' %>
        <% end %> |

        <!-- Only the owner of the tour can destroy -->
        <% if policy(@tour).destroy? %>
          <%= link_to 'Destroy', @tour, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %> |
      <%= link_to 'Back', tours_path, class:"btn btn-secondary" %>
    </div>
    </div>
  </div>
</div>


<%# <p>
  <strong>Tour name:</strong>
  <%= @tour.title %>
<%# </p> %>

<%# <p>
  <strong>User:</strong>
  <%= @tour.user_id %>
<%# </p> %>
